<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to the <code>ckeditor5-angular</code> integration test!
  </h1>
</div>

<mat-tab-group>
  <mat-tab label="Editor">
    <h4 mat-dialog-title style="color: #00736e;">Borrower Request</h4>
    <ckeditor id="editor" tagName="textarea" style="border: 1px solid #00736e; width: 100%;" [editor]="Editor">
    </ckeditor>
  </mat-tab>
  <mat-tab label="Just another tab"></mat-tab>
</mat-tab-group>
