<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to the <code>ckeditor5-angular</code> integration test!
  </h1>
</div>
<h2 *ngIf="editor">The editor is ready:</h2>

<ckeditor
  [editor]="ClassicEditorBuild"
  [config]="{
    toolbar: [ 'bold', 'italic', 'blockQuote', 'numberedList', 'bulletedList', 'link', 'heading' ],
    placeholder: 'A generic placeholder',
    ui: {
      height: '30rem',
      resize_dir: 'vertical',
      resize_minHeight: '30rem',
      resize_enabled: false
    }
  }"
  (ready)="onReady($event)">
</ckeditor>
